<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{ recetario.nombre }}</title>
</head>
<body>
    <h1>{{ recetario.nombre }}</h1>
    <p><strong>Descripción:</strong> {{ recetario.descripcion }}</p>


    <div class="container">
        <h2>Recetas:</h2>
        {% if bebidas %}
        <ul>
            {% for recetario_bebida in bebidas %}
                <li>{{ recetario_bebida.bebida.nombre }} - {{ recetario_bebida.bebida.descripcion }}</li>
            {% endfor %}
        </ul>
        {% else %}
            <p>No hay bebidas en este recetario.</p>
        {% endif %}
    </div>

    <a href="{% url 'recetarios' %}">Volver a la lista de recetarios</a>
</body>
</html>
