{% extends 'base.html' %}

{% block content %}


    <div class="container my-4">
        {% if messages %}
            <div class="alert alert-dismissible fade show" role="alert">
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    </div>

		<div class="container my-5">
			<div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
				<div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
				<h1 class="display-4 fw-bold lh-1 text-body-emphasis">{{bebida.nombre}}</h1>
				<p class="lead">
					{{ bebida.descripcion }}
				</p>
				<div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
					<form method="POST">
						{% csrf_token %}
						<button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold"  data-bs-toggle="modal" data-bs-target="#recetarioModal">
							Guardar en el recetario
						</button>

					</form>
					<button type="button" class="btn btn-outline-secondary btn-lg px-4">
						<a href="/bebidas">
							Volver a la lista
						</a>
					</button>
				</div>
				</div>
				<div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
					<img class="rounded-lg-3" src="{{ bebida.imagen }}" alt="" width="720">
				</div>
			</div>


    </div>


<div class="modal fade" id="recetarioModal" tabindex="-1" aria-labelledby="recetarioModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="recetarioModalLabel">Selecciona un recetario</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST" action="{% url 'guardar_bebida_en_recetario' bebida.id %}">
            {% csrf_token %}
            <div class="mb-3">
              <p>Recetarios:</p>
              {% for recetario in recetarios %}
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="recetario_id" id="recetario{{ recetario.id }}" value="{{ recetario.id }}" required>
                  <label class="form-check-label" for="recetario{{ recetario.id }}">
                    {{ recetario.nombre }}
                  </label>
                </div>
              {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}