{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <h1 class="mt-4">Bebidas chidas para agregar a tus recetarios</h1>
        <div class="row">
            {% for bebida in bebidas %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="{{ bebida.strDrinkThumb }}" class="card-img-top" alt="{{ bebida.strDrink }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ bebida.strDrink }}</h5>
                        <p class="card-text">ID: {{ bebida.idDrink }}</p>
                        <a href="{{bebida.idDrink}}" class="btn btn-primary">Ver Detalles</a>
                        <a href="#" class="btn btn-success">
                            Agregar a mi Recetario
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}