<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Lista de Bebidas</title>
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Bebidas chidas para agregar a tus recetarios</h1>
        <div class="row">
            {% for bebida in bebidas %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="{{ bebida.strDrinkThumb }}" class="card-img-top" alt="{{ bebida.strDrink }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ bebida.strDrink }}</h5>
                        <p class="card-text">ID: {{ bebida.idDrink }}</p>
                        <a href="{{bebida.idDrink}}" class="btn btn-primary">Ver Detalles</a>
                        <a href="#" class="btn btn-success">
                            Agregar a mi Recetario
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
