{% extends 'base.html' %}

{% block content %}

        {% if exist_recetarios %}

		<div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
			<div class="list-group">


            {% for recetario in recetarios %}                

				<a href="{% url 'detalle_recetario' recetario.id %}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
					<img src="https://static.vecteezy.com/system/resources/previews/004/992/649/non_2x/beers-drinks-icons-vector.jpg" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
					<div class="d-flex gap-2 w-100 justify-content-between">
					  <div>
						<h6 class="mb-0">{{ recetario.nombre }}</h6>
						<p class="mb-0 opacity-75">{{ recetario.descripcion }}</p>
					  </div>
					</div>
				</a>
				  
            {% endfor %}
			</div>

		</div>

        {% else %}
            <p class="alert alert-warning mt-3">No existe un recetario actualmente.</p>
            <a href="/recetarios/new" class="btn btn-primary">Crear Recetario</a>
        {% endif %}

        <div class="container">
            <a href="/recetarios/new">Crear Recetario</a>
        </div>

 {% endblock %}